PORT=3000
JWT_SECRET=GOUGrNQYL3WOPAbca+s/L0FCkbio/cvWC+1vAEXMn5/xicqZQEEApdoeJJjH/5zAW3//H80FyeDDXHEpWZwxEA==
NODE_ENV=development

DATABASE_URL=postgresql://postgres.ldmcivofgavxnkkrpofa:254Gantohrw%401@aws-0-us-east-2.pooler.supabase.com:5432/postgres

DB_HOST=aws-0-us-east-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.ldmcivofgavxnkkrpofa
DB_PASSWORD=254Gantohrw@1

# Mobile Money M-Pesa Configuration
MPESA_ENVIRONMENT=sandbox
MPESA_CONSUMER_KEY=your_mpesa_consumer_key
MPESA_CONSUMER_SECRET=your_mpesa_consumer_secret
MPESA_SHORTCODE=your_mpesa_shortcode
MPESA_PASSKEY=your_mpesa_passkey
MPESA_INITIATOR_NAME=your_initiator_name
MPESA_SECURITY_CREDENTIAL=your_security_credential

# Webhook Security
WEBHOOK_SECRET=your_webhook_secret_key

# URLs
BASE_URL=http://localhost:3000